管理者画面

<table border='1' class="table">
  <thead>
    <tr>
      <th>名前</th>
      <th>メールアドレス</th>
      <th>権限</th>
    </tr>
  </thead>
  <tbody>
    <% @users.find_each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.role_i18n %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @users, theme: 'bootstrap-5' %>
