general画面

<%= button_to "ログアウト", destroy_user_session_path, method: :delete  %>

<div class="container">
  <button type="button" class="btn btn-primary" onclick="testBootstrap()">Click me</button>
</div>
<script>
  function testBootstrap() {
    alert("Bootstrap 5 JavaScript is working!");
  }
</script>




