<h3>操作ログ</h3>

<table border='1' class="table overflow-scroll">
  <thead>
    <tr>
      <th>組織名</th>
      <th>削除日時</th>
    </tr>
  </thead>
  <tbody>
    <% @organizations.find_each do |organization| %>
      <tr>
        <td><%= organization.name %></td>
        <td><%= l organization.discarded_at, format: :default %></td>
      </tr>
    <% end %>
  </tbody>
</table>
